*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#202020;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.telefono{
    width:390px;
    height:780px;
    background:#ffffff;
    border-radius:35px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

/*==========================
      ENCABEZADO
===========================*/

.header{
    height:110px;
    background:#dcecf8;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
}

.home{
    width:58px;
    height:58px;
    background:#57bfff;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#083a75;
    font-size:28px;
    transition:.3s;
}

.home:hover{
    background:#2ea8ff;
    transform:scale(1.05);
}

.buscador{
    width:240px;
    height:50px;
    background:#fff;
    border:4px solid #000;
    border-radius:30px;
    display:flex;
    align-items:center;
    padding:0 15px;
}

.buscador input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    font-size:18px;
    font-weight:bold;
}

.buscador i{
    font-size:22px;
    color:#000;
}

/*==========================
      CONTENIDO
===========================*/

main{
    padding:30px;
    text-align:center;
}

.documento{
    width:65px;
    height:65px;
    background:#57bfff;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#083a75;
    font-size:34px;
    margin-bottom:25px;
    transition:.3s;
}

.documento:hover{
    background:#2ea8ff;
    transform:scale(1.05);
}

.imagen{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

.imagen img{
    width:180px;
    height:auto;
}

h1{
    color:#4d7cc2;
    font-size:46px;
    margin-bottom:35px;
}

.datos{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.datos label{
    text-align:left;
    font-size:18px;
    font-weight:bold;
    color:#444;
}

.datos input{
    width:100%;
    padding:15px;
    border:2px solid #d8d8d8;
    border-radius:8px;
    background:#fafafa;
    font-size:17px;
    color:#555;
    margin-bottom:20px;
}

.datos input:focus{
    outline:none;
    border-color:#57bfff;
}