/* ==========================
   ESTILOS GENERALES
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.telefono{
    width:390px;
    height:780px;
    background:#fff;
    border-radius:35px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
}

/* ==========================
   ENCABEZADO
========================== */

.header{
    height:100px;
    background:#dfeef9;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

.header h1{
    font-size:30px;
    font-weight:bold;
}

.boton{
    width:55px;
    height:55px;
    background:#55c5ff;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#0b3d91;
    font-size:28px;
    transition:.3s;
}

.boton:hover{
    background:#2ea8ff;
}

/* ==========================
   CONTENIDO
========================== */

.contenido{
    padding:20px;
}

.contenido h2{
    font-size:35px;
    margin-bottom:25px;
}

/* ==========================
   LISTA
========================== */

.lista{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.tarea{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:2px solid #d8d8d8;
    border-radius:10px;
    padding:15px;
    background:white;
}

.tarea span{
    font-size:20px;
}

/* ==========================
   BOTONES ESTADO
========================== */

.estado{
    width:42px;
    height:42px;
    border:none;
    background:none;
    cursor:pointer;
    font-size:30px;
}

.completada{
    color:#37b24d;
}

.pendiente{
    color:#777;
}

.cancelada{
    color:#d62828;
}

.estado:hover{
    transform:scale(1.15);
}

/* ==========================
   BOTÓN +
========================== */

.agregar{

    width:120px;
    height:120px;

    margin:45px auto;

    display:flex;
    justify-content:center;
    align-items:center;

    border:3px solid #57c9ff;
    border-radius:10px;

    text-decoration:none;

    color:#57c9ff;

    font-size:80px;

    transition:.3s;

}

.agregar:hover{

    background:#def6ff;

    transform:scale(1.05);

}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:430px){

.telefono{

width:100%;
height:100vh;
border-radius:0;

}

}