*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#20252c;
display:flex;
justify-content:center;
padding:30px;
}

.telefono{
width:380px;
background:white;
border-radius:35px;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,.3);
}

header{
background:#dcecff;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.iconos{
display:flex;
gap:10px;
}

.iconos button{
width:45px;
height:45px;
border:none;
background:#59b9ff;
color:white;
font-size:22px;
border-radius:8px;
cursor:pointer;
}

input{
width:170px;
padding:10px;
border-radius:20px;
border:2px solid #59b9ff;
outline:none;
}

h1{
padding:20px;
font-size:36px;
font-weight:bold;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:18px;
padding:20px;
}

.card{
height:150px;
background:#bde9ff;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:45px;
cursor:pointer;
transition:.3s;
box-shadow:8px 8px 0 gray;
}

.card:hover{
transform:scale(1.05);
}

.card p{
font-size:20px;
margin-top:10px;
}

.nueva .icono{
width:70px;
height:70px;
border:3px solid #4b6b8a;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:50px;
}